@page "/"
@using BookOfRunes.DiabloII.Resurrected.Api
@using BookOfRunes.DiabloII.Resurrected.WASM.Contexts
@using BookOfRunes.DiabloII.Resurrected.WASM.Controls.Dialog
@using BookOfRunes.DiabloII.Resurrected.WASM.Controls.LoadingScreen
@using BookOfRunes.DiabloII.Resurrected.WASM.Models
@using BookOfRunes.DiabloII.Resurrected.WASM.Services
@using BookOfRunes.DiabloII.Resurrected.WASM.Components
@using BookOfRunes.DiabloII.Resurrected.WASM.Controls
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using STrain

@inject IRuneService RuneService;
@inject ICharacterService CharacterService;
@inject IRuneWordService RuneWordService;
@inject ILoading Loading;
@inject NavigationManager Navigation;
@inject UserContext UserContext;
@inject IMigrationService MigrationService;
 
<div class="main">
	<div class="panel header">
		<div class="menu">
			<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
				<NotAuthorized>
					<div class="profile_menu" @onclick="() => menuToggled = !menuToggled">
						<div class="profile">
							<span>Greetings traveler</span>
						</div>
					</div>

					<ProfileMenu Toggle="@menuToggled"></ProfileMenu>
				</NotAuthorized>
				<Authorized>
					<div class="profile_menu" @onclick="() => menuToggled = !menuToggled">
						<div class="profile">
							<span>Greetings @UserContext.Name</span>
						</div>
					</div>

					<ProfileMenu Toggle="@menuToggled"></ProfileMenu>
				</Authorized>
			</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
		</div>
	</div>
	<div id="content" class="content">
		<div class="panel">
			<Character></Character>
		</div>
		<div class="right">
			<div class="panel">
				<Filters></Filters>
			</div>
			<div class="rune-words">
				<Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize Items="RuneWordService.RuneWords.ToList()" Context="runeWord" OverscanCount="5">
					<RuneWord Model="runeWord"
					Level="CharacterService.Current!.Level"
					Runes="RuneService.Runes.Where(r => r.Selected).Select(r => r.Id).ToList()"
					ItemTypes="CharacterService.Current.Filters.ItemTypes.Where(f => f.Selected).Select(f => f.Id).ToList()"></RuneWord>
				</Microsoft.AspNetCore.Components.Web.Virtualization.Virtualize>
			</div>
		</div>
	</div>
</div>

<Dialog Key="dlgMigration">
	<div class="migration">
		<span class="migration__header">Data migration is in progress</span>

		<div class="migration__steps">
			@foreach (var step in MigrationService.Steps)
			{
				<div class="migration__step">
					<img class="migration__step_state" src="@GetStateIcon(step.State)"/>
					<span class="migration__step_message migration__step_message--@step.State.ToString().ToLower()">@step.Message</span>
				</div>			
			}
		</div>
	</div>
</Dialog>

@code {
	[CascadingParameter]
	public Task<AuthenticationState> AuthenticationState { get; set; } = null!;

	private bool menuToggled = false;

	private string? name = null;

	protected override async Task OnInitializedAsync()
	{
		using (Loading.Show())
		{
			await RuneService.LoadAsync(default);
			await CharacterService.LoadAsync(default);
		}

		CharacterService.Changed += (_, __) => StateHasChanged();
		RuneWordService.Loaded += (_, __) => StateHasChanged();
		RuneService.Changed += (_, __) => StateHasChanged();

		await UserContext.InitializeAsync(AuthenticationState);
		if (UserContext.IsAuthenticated)
		{
			MigrationService.ProgressChanged += (_, __) => StateHasChanged();
			await MigrationService.MigrateAsync(default);
		}
	}

	private string GetStateIcon(ProcessStepState state)
	{
		switch (state)
		{
			case ProcessStepState.NotStarted: return "/assets/waiting.svg";
			case ProcessStepState.InProgress: return "/assets/frozen-orb-cropped.gif";
			case ProcessStepState.Succedded: return "/assets/succedded.svg";
			default: return "";
		}
	}
}