@using System.Diagnostics.CodeAnalysis
@using BookOfRunes.DiabloII.Resurrected.WASM.Controls.Dialog
@using BookOfRunes.DiabloII.Resurrected.WASM.Services
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop.Implementation
@using BookOfRunes.DiabloII.Resurrected.Api
@using BookOfRunes.DiabloII.Resurrected.WASM.Controls
@using BookOfRunes.DiabloII.Resurrected.WASM.Controls.Dialog
@using BookOfRunes.DiabloII.Resurrected.WASM.Services
@using STrain

@inject IJSRuntime JSRuntime;
@inject IRuneService RuneService;
@inject ICharacterService CharacterService;
@inject IDialogService DialogService;

<script>
	function setHeight(element, height) {
		element.style.height = height;
	}

	function getHeight(element) {
		return element.offsetHeight;
	}

	function getWindowHeight() {
		return document.getElementById("content").getBoundingClientRect().height;
	}

	function getFontSize(element) {
		return window.getComputedStyle(element).fontSize;
	}
</script>

<div class="main">
	@if (CharacterService.Current is not null)
	{
		<div class="top">
			<div class="class">
				<div class="pager previous" @onclick="() => CharacterService.Previous()"/>
				<div @ref="_imageElement" class="image">
					<img src="@($"/assets/classes/{CharacterService.Current.Class.ToString().ToLower()}.png")" @onmousewheel="OnMouseWheel" />
				</div>
				<div class="pager next" @onclick="() => CharacterService.Next()"/>
			</div>
			<div @ref="_indexElement" class="index">@(CharacterService.Index + 1)/@(CharacterService.Characters.Count())</div>
		</div>
		<EditForm Model="CharacterService.Current">
			<div @ref="_dataElement" class="data">
				<span>Name:</span>
				<span data-testid="spnName" class="highlighted">@(CharacterService.Current.Name)</span>
				<span>Level:</span>
				<div class="level">
					<input type="number" class="highlighted" @bind-value=@CharacterService.Current.Level min="1" max="99"/>
					<div>
						<img data-testid="btnIncreaseLevel" class="counter" src="/assets/increase.png" @onclick="IncreaseLevel"/>
						<img data-testid="btnDecreaseLevel" class="counter" src="/assets/decrease.png" @onclick="DecreaseLevel" />
					</div>
				</div>
			</div>
		</EditForm>
	}
	<div @ref="_bottomElement" class="bottom">
		<div class="runes">
			<span>Runes</span>				
				<EditForm Model="RuneService.Runes">
					<div class="list">
						<div class="column">
							@foreach (var rune in RuneService.Runes.Take(11).ToList())
							{
								<div class="rune">
									<InputCheckbox type="checkbox" @bind-Value=rune.Selected />
									<Rune Model="@rune" Available=@((CharacterService.Current?.Level ?? 99) >= rune.Level.GetValueOrDefault()) />
								</div>
							}
						</div>
						<div class="column">
							@foreach (var rune in RuneService.Runes.Skip(11).Take(11).ToList())
							{
								<div class="rune">
									<InputCheckbox type="checkbox" @bind-Value=rune.Selected />
									<Rune Model="@rune" Available=@((CharacterService.Current?.Level ?? 99) >= rune.Level.GetValueOrDefault()) />
								</div>
							}
						</div>
						<div class="column">
							@foreach (var rune in RuneService.Runes.Skip(22).Take(11).ToList())
							{
								<div class="rune">
									<InputCheckbox type="checkbox" @bind-Value="rune.Selected" />
									<Rune Model="@rune" Available=@((CharacterService.Current?.Level ?? 99) >= rune.Level.GetValueOrDefault()) />
								</div>
							}
						</div>
					</div>
				</EditForm>
		</div>
		<div class="buttons">
			<button data-testid="btnSave" @onclick="() => SaveAsync(CharacterService.Current!)">Save</button>
			<div class="character-buttons">
				<button data-testid="btnAdd" @onclick="Add">Add</button>
				<button data-testid="btnDelete" @onclick="DeleteAsync">Delete</button>
			</div>
		</div>
	</div>	
</div>

<Dialog Key="dlgAddCharacter" Accepted=@AddAsync>
	<AddCharacter data-testid="dlgAddCharacter"/>
</Dialog>

@code {
	private double _fontSize = 0;

	private ElementReference _imageElement;
	private ElementReference _indexElement;
	private ElementReference _dataElement;
	private ElementReference _bottomElement;

	private EditContext? _characterContext;

	protected override void OnInitialized()
	{
		RuneService.Loaded += (_, __) => StateHasChanged();
		CharacterService.Loaded += (_, __) => RefreshCharacter();
		CharacterService.Changed += (_, __) => RefreshCharacter();

	}

	[ExcludeFromCodeCoverage]
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (CharacterService.Current is not null)
		{
			if (_fontSize == 0)
			{
				_fontSize = double.Parse((await JSRuntime.InvokeAsync<string>("getFontSize", _dataElement)).TrimEnd("px".ToCharArray()));
			}
			var window = await JSRuntime.InvokeAsync<double>("getWindowHeight");
			var index = await JSRuntime.InvokeAsync<int>("getHeight", _indexElement);
			var data = await JSRuntime.InvokeAsync<int>("getHeight", _dataElement);
			var bottom = await JSRuntime.InvokeAsync<int>("getHeight", _bottomElement);			

			await JSRuntime.InvokeVoidAsync("setHeight", _imageElement, $"{window - (0.8 * _fontSize) - (0.8 * _fontSize) - (0.8 * _fontSize) - index - (1.6 * _fontSize) - data - (1.6 * _fontSize) - bottom}px");
		}
	}

	private void RefreshCharacter()
	{
		if (CharacterService.Current is null) Add();
		StateHasChanged();
	}

	private void IncreaseLevel()
	{
		CharacterService.Current!.Level++;
		StateHasChanged();
	}

	private void DecreaseLevel()
	{
		CharacterService.Current!.Level--;
		StateHasChanged();
	}

	private void OnMouseWheel(WheelEventArgs args)
	{
		if (args.DeltaY > 0) CharacterService.Next();
		else if (args.DeltaY < 0) CharacterService.Previous();
	}

	private void Add()
	{
		DialogService.Show("dlgAddCharacter");
	}

	private async Task AddAsync(object? result)
	{
		if (result is not null && result is Models.Character character) await CharacterService.AddAsync(character, default);
	}

	private async Task SaveAsync(Models.Character character)
	{
		await CharacterService.SaveAsync(default);
		await RuneService.SaveAsync(default);
	}

	private async Task DeleteAsync()
	{
		if (CharacterService.Current is not null) await CharacterService.DeleteAsync(CharacterService.Current, default);
	}
}