@using System.Text.RegularExpressions
@using BookOfRunes.DiabloII.Resurrected.Api
@using BookOfRunes.DiabloII.Resurrected.WASM.Services
@using Microsoft.AspNetCore.Components.Forms
@using RuneDex.DiabloII.Resurrected.Api
@using RuneDex.DiabloII.Resurrected.WASM.Models
@using RuneDex.DiabloII.Resurrected.WASM.Services
@using RuneDex.DiabloII.Resurrected.WASM.Services
@using SimpleExpressionEvaluator

@inject ICharacterService CharacterService;
@inject IRuneService RuneService;

<EditForm Model="CharacterService.Current">
    <div class="main">
        <div class="basics">
            <span class="name">@Model.Name</span>
            <div class="runes">
                @foreach (var rune in Model.Runes)
                {
                        <Rune Model="GetRune(rune)" Available="rune.Level.GetValueOrDefault() <= Level && Runes.Contains(rune.Id)"></Rune>
                }
            </div>
            <div class="item-types">
                (
                @foreach (var itemType in Model.ItemTypes)
                {
                    <span class="@(ItemTypes.Contains(itemType.Id) ? "available" : "")">@GetItemType(itemType)</span>
                }
                )
            </div>
            <div>
                <span class="label">Level:</span>
                <span class="level @(Model.Level <= Level ? "" : "unavailable")">@Model.Level</span>
            </div>
        </div>
        <div class="description">
            @foreach (var statistic in Model.Statistics)
            {
                <span data-testid="txtDescription">@GetDescription(statistic)</span>
            }
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public required GetRuneWordsQuery.Result Model { get; set; }
    [Parameter]
    public required int Level { get; set; }
    [Parameter]
    public required IEnumerable<int> Runes { get; set; }
    [Parameter]
    public required IEnumerable<int> ItemTypes { get; set; }

    private Models.Rune GetRune(GetRuneWordsQuery.Result.Rune rune)
    {
        return new Models.Rune
            {
                Id = rune.Id,
                Name = rune.Name,
                InBodyArmor = rune.InBodyArmor,
                InHelmet = rune.InHelmet,
                InShield = rune.InShield,
                InWeapon = rune.InWeapon,
                Level = rune.Level
            };
    }

    private RenderFragment GetDescription(GetRuneWordsQuery.Result.Statistic statistic)
    {
        return @<span>@EvaulateExpression(statistic.Description.Replace("{skill}", statistic.Skill?.Name ?? ""))</span>;
    }

    private RenderFragment GetSkill(string name)
    {
        return @<span class="skill">name</span>;
    }

    private string GetItemType(GetRuneWordsQuery.Result.ItemType itemType)
    {
        if (Model.ItemTypes.Last().Id == itemType.Id) return itemType.Name;
        return $"{itemType.Name}, ";
    }

    private string EvaulateExpression(string description)
    {
        var expressions = new Regex(@"\([\([0-9.]*]?[-*][0-9]*\)?[0-9.*]*Clvl\)").Matches(description);

        var evualator = new ExpressionEvaluator();
        var result = description;
        foreach (Match expression in expressions)
        {
            var value = evualator.Evaluate(expression.Value.Replace("Clvl", CharacterService.Current!.Level.ToString()));
            result = result.Replace(expression.Value, value.ToString("0"));
        }

        return result;
    }
}
