@using Microsoft.AspNetCore.Components.Forms
@using RuneGlossary.Resurrected.WASM.Controls
@using RuneGlossary.Resurrected.WASM.Models
@using System.ComponentModel.DataAnnotations

@inject IDialogService DialogService;

<EditForm OnValidSubmit="SaveAsync" EditContext="Context" >
	<DataAnnotationsValidator/>
	<div class="main">
		<div class="text">
			<span class="class">@Class.ToString()</span>
			<span class="description">@_descriptions[Class]</span>
		</div>

		<div class="classes">
			<img data-testId="clsAmazon" src="/assets/classes/amazon.png" @onclick="() => Select(Class.Amazon)" class="amazon @(Class == Class.Amazon ? "selected" : "")">
			<img data-testId="clsAssassin" src="/assets/classes/assassin.png" @onclick="() => Select(Class.Assassin)" class="assassin @(Class == Class.Assassin ? "selected" : "")" />
			<img data-testId="clsNecromancer" src="/assets/classes/necromancer.png" @onclick="() => Select(Class.Necromancer)" class="necromancer @(Class == Class.Necromancer ? "selected" : "")" />
			<img data-testId="clsBarbarian" src="/assets/classes/barbarian.png" @onclick="() => Select(Class.Barbarian)" class="barbarian @(Class == Class.Barbarian ? "selected" : "")" />
			<img data-testId="clsPaladin" src="/assets/classes/paladin.png" @onclick="() => Select(Class.Paladin)" class="paladin @(Class == Class.Paladin ? "selected" : "")" />
			<img data-testId="clsSorceress" src="/assets/classes/sorceress.png" @onclick="() => Select(Class.Sorceress)" class="sorceress @(Class == Class.Sorceress ? "selected" : "")" />
			<img data-testId="clsDruid" src="/assets/classes/druid.png" @onclick="() => Select(Class.Druid)" class="druid @(Class == Class.Druid ? "selected" : "")" />
		</div>

		<div class="fields">
			<div class="field">
				<div class="label">Name <ValidationMessage For="@(() => Name)"/></div>
				<InputText data-testId="inpName" @bind-Value=@Name/>				
			</div>
			<div class="field">
				<div class="label">Level <ValidationMessage For="@(() => Level)" /></div>
				<InputNumber @bind-Value=@Level />
				
			</div>
		</div>
		<div class="buttons">
			<button data-testId="btnSave" disabled="@(!context.Validate())" type="submit">Save</button>
			<button data-testId="btnCancel" @onclick="Cancel">Cancel</button>
		</div>
	</div>
</EditForm>

@code {
	private IDictionary<Class, string> _descriptions = new Dictionary<Class, string>
		{
			[Class.Amazon] = "Skilled with the spear and the bow. She is a very verstile figther.",
			[Class.Assassin] = "Schooled in the martial arts. Her mind and body are deadly weapons.",
			[Class.Necromancer] = "Summoning undead minions and cursing his enemies are his specialities.",
			[Class.Barbarian] = "He is unequaled in close-quarters combat and mastery of weapons.",
			[Class.Paladin] = "He is a natural party leader, holy man and blessed warrior.",
			[Class.Sorceress] = "She has mastered the elemental magicks -- Fire, Lighting, and Ice.",
			[Class.Druid] = "Command the forces	if nature, he summons wild beasts and raging storms to his side."
		};

	[SupplyParameterFromForm]
	public Class Class { get; set; }

	[Required(AllowEmptyStrings = false, ErrorMessage = "(Required)")]
	[SupplyParameterFromForm]
	public string? Name { get; set; }

	[Range(1, 99, ErrorMessage = "(Must be between 1 and 99)")]
	[SupplyParameterFromForm]
	public int Level { get; set; } = 1;

	private EditContext Context { get; set; } = null!;

	protected override void OnInitialized()
	{
		Context = new EditContext(this);
		Context.OnFieldChanged += (_, __) => Context.Validate();
		Context.Validate();
	}

	private void Select(Class value)
	{
		Class = value;
		StateHasChanged();
	}

	private void Cancel()
	{
		DialogService.Dismiss();
	}

	private async Task SaveAsync()
	{
		await DialogService.AcceptAsync(new Models.Character
			{
				Class = Class,
				Name = Name!,
				Level = Level
			});
	}
}
